/* Estilos Globais */
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: sans-serif;
}

/* Cabeçalho e Rodapé */
h1, h2{
    text-align: center;
}
header, footer {
    background-color: #005691; /* Azul SENAI */
    color: white;
    padding: 10px;
    text-align: center;
}

/* Navegação Principal */
nav ul {
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Conteúdo Principal e Seções */
main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
}

/* Barra Lateral */
aside {
    background-color: #e9e9e9;
    padding: 15px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse; /* Une as bordas */
    margin-top: 15px;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Formulário da tela de login */
form {
    background-color: white;
    padding: 20px;
    width: 400px;
    margin: 20px auto; /* Centraliza o formulário */
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #005691;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
}